nav * {
  background-color: #8CB3C9;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
  text-decoration: none;
  font-size: 40px;
}

.header {
  font-size: 100px;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.container-logo {
  width: 200px;
  height: 200px;
  display: flex;
  margin: 0;
  padding: 0;
}

.container-felix-foto {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: fit-content;
  bottom: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 10px;
}

h2 {
  display: flex;
  justify-content: center;
}

/* Colors:
Light Blue: #8CB3C9
Medium Blue: #6E8B98
Dark Blue: #4F6D76
Gray: #5C7A84 */