<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href= "{{url_for('static', filename='css/style.css') }}"> <!--jinja-->
</head>
<body>

<header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/posts">Posts</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </nav>
</header>

<main>
  <div class="header">
    <img src="{{ url_for('static', filename='images/logo.png')}}" alt="logo">
    <h1>Felix Personal Blog</h1>
  </div>

  <section>
    <h2>Welcome</h2>
    <p>Welcome to my Personal blog. Here you will see posts about my daily life.</p>
  </section>
</main>

</body>
</html>
